*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black; 
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#bruce_banner_cntr{
    width: 50vw;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
}

#banner{
    background-color: purple;
    width: 100%;
    height: 100%;
}

#wishlist_now_cntr{
    display: flex;
    gap: 0;
}   

#wishlist_now_cntr:hover{

}
#wshlist:hover{
    filter: sepia(00%) saturate(200%) brightness(150%) hue-rotate(0deg);
}
